.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-list, .root {
  background-color: floralwhite;;
  border-style: outset;
  padding: 1rem;
}

.todo-list fieldset {
  border-style: none;
}

.todo-list li { text-align: left;}
.todo-list ul { list-style: none;}
.todo-list header {
  font-weight: bold;
}

.todo.todo--done {
  text-decoration: line-through
}

#new-todo {
  margin-right: 1rem;
  margin-left: 1rem;
}

footer {
  font-size: small;
  margin: 0 1rem;
}

@media(min-width: 600px){
  .App {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3rem;
  }
  .todo-list, .root {
    max-width: 30rem;
    min-width: 30rem;
    min-height: 10rem;
  }
}
